/** 
 * mcbase print settings 
 * 
 * default page size
 * margins
 * blocks to hide etc
 *
*/

/* Clear away a lot of irrelevant stuff */
hr,
.ahem,
.element-invisible,
#skip-link,
#block-search-form {
  display: none;
}

#sidebar-first, 
#sidebar-second,
#navigation,
#main-menu,
.tabs {
  display: none;
}

.region-page-top,
.region-page-bottom {
  display: none;
}

/* Get consistent modern looking type please */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 14pt;
  color: #333;
  line-height: 1.4em;
}

#main-wrapper {
  margin: 20px 0;
}

/* Make headers and links render a little more stylishly */
a {
  text-decoration: none;
  color: inherit;
}

/* Images */

