/* $Id: ie-lt8.css $ */

/* Fixes for IE < 8 */


input.form-submit {
  padding: 1px;
  vertical-align: middle;
}

.form-item input {
  vertical-align: middle;
  margin: 0;
}

/* links class generates horizontal lists for menus */

ul.links {
position: relative;
}

#tabs ul.links li, #navigation ul.links li {
float: left;
}

#tabs ul.links li a, #navigation ul.links li a {
display: block;
float: left;
padding: 5px;
}