/*
Responsive Design
------------------------------------------------------*/

/* Leave a trail for javascript */
body:after {
  content: 'widescreen';
  display: none;
}


 
 #page-wrapper, #page {
  width: 100%;
  margin: 0;
  padding: 0;
}

.sidebar-first #content .section {
  margin-left: 33%;     /* LEFT value */
}

.sidebar-second #content .section {
  margin-right: 33%;    /* RIGHT value */
}

.two-sidebars #content .section {
  margin-left: 33%;     /* LEFT value */
  margin-right: 33%;    /* RIGHT value */
}

#sidebar-first {
  width: 33%;           /* LEFT value */
	margin-right: -33%;   /* negative LEFT value */
  margin-left: 0;
}
#sidebar-second {
  width: 33%;          /* RIGHT value */
  margin-left: -33%;    /* negative RIGHT value */
  float: right;
  margin-right: 0;
}

.limiter {
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 960px) {
  
  /* Leave a trail for javascript */
  body:after {
    content: 'standard';
    display: none;
  } 
  
  /* scale columns 
   * 
   * If the limiter is not defining the outside margin as well
   * as the page border, it should be 100%.
   *
  */
  
  .limiter {
  width: 98%;
  }

  #highlighted .limiter {
  overflow: hidden;
  }
}

@media screen and (max-width: 800px)  {

  /* Leave a trail for javascript */
  body:after {
    content: 'tablet';
    display: none;
  } 
  
  #page-wrapper {
    width: 100%;
    overflow: hidden;
  }
  
    /* Drop the left sidebar down */
  
  .two-sidebars #content .section,
  .sidebar-first #content .section {
    margin-left: 0;   
  }

  #sidebar-first {
    width: 100%;
    clear: both;
    float: none;
  }

    
  /* Drop the right sidebar down */
  
 /*
 .two-sidebars #content .section,
  .sidebar-second #content .section {
    margin-right: 0;   
  }

  #sidebar-second {
    width: 100%;
    clear: both;
    float: none;
  }
*/
  
/*
  #sidebar-second .block {
    width: 48%;
    float: left;
  }
*/
  
  #site-slogan {
    margin: 0;
  }
  
  #highlighted img {

  }
  
}

@media screen and (max-width: 480px) {
    
  /* Leave a trail for javascript */
    body:after {
    content: 'phone';
    display: none;
  }  
  
  #page-wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  
  /* One column */
  
  #main-menu li, #main-menu li a {
    float: none;
    display: block;
  }
  
  #main-menu li a {
    padding: 5px 10px 6px 48px;
    font-size: 1em;
  }

    
  .two-sidebars #content .section,
  .sidebar-first #content .section {
    margin-left: 0;    
  }
  
  #sidebar-first, 
  #sidebar-second,
  #content {
    width: 100%;           
    margin-right: 0;
    margin-left: 0;
    clear: both;
    float: none;  
  } 
  
  .sidebar-first #content .section {
    margin-left: 0; 
  }
  
   .sidebar-second #content .section {
    margin-right: 0; 
  }

  
  .no-sidebars #content .region-content {
  margin: 0 10px;
  }

  .no-sidebars h1, .no-sidebars #page-title {
  margin-left: 10px;
  }
  
  .region-footer {
  padding: 0 10px;
  }

  #footer-first, #footer-second, #footer-third  {
  margin: 0 10px 20px 10px;
  width: auto;
  float: none;
  }
    
}

